{"filter":false,"title":".gitignore","tooltip":"/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"00c82d856995da4736f861d831d1393e13595328","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1411037393611}