<div class="container-fluid">

    <h2>{{title}}</h2>
    
      <div class="alert alert-danger" role="alert" collapse="isCollapsed">
        <strong>Error:</strong> {{errorMessage}}
    </div>
    <div class="alert alert-success" role="alert" collapse="successAlertIsCollapsed">
        <strong>Success:</strong> {{successMessage}}
    </div>

    <div class="col-md-12">
        <!--<h1>{{selectedScreen.title}}</h1>-->
        <div class="form-group">
            <label for="screenTitle">Title</label>
            <input type="text" name="screenTitle" class="form-control" ng-model="title" size="10">
        </div>

        <div class="form-group">
            <label for="screenHtml">Screen html</label>
            <textarea name="screenHtml" class="form-control" ng-model="HTMLcontent"></textarea>
        </div>
        <div class="form-group">
            <b>Main page:</b>
            <input  name="mainpage" type="checkbox" ng-model="mainpage">
        </div>
        <div align="right">
            <button type="button" class="btn" ng-click="addScreen()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-show="newScreenSelected()">
                <span class="glyphicon glyphicon-upload"></span> Save
            </button>
            <button type="button" class ="btn" ng-click="updateScreen()" ng-hide="selectedScreen==null || newScreenSelected()">
                <span class="glyphicon glyphicon-upload"></span> Update
            </button>

            <button type="button" class= "btn" ng-click="removeScreen()" ng-hide="selectedScreen==null || newScreenSelected()">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
            
            <button type="button" class="btn" ng-click="downloadScreenHTML()" ng-hide="selectedScreen==null || newScreenSelected()">
                <span class="glyphicon glyphicon-download"></span> Download
            </button>
            

<!--            <button type="button" class="btn" ng-click="viewPreview()" ng-displed="item.isReady || item.isUploading || item.isSuccess">-->
<!--            <span class="glyphicon glyphicon-new-window"></span> Preview-->
            <!--</button>-->
        </div>
        
        <div class="form-group" ng-hide="selectedScreen==null || newScreenSelected()">
            <label for="componentPreview">Preview</label></br>
            <div name="componentPreview" class="previewContainer" ng-controller="screenMasterController">
                <div preview="HTMLcontent"></div>
            </div>

        </div>

    </div>


