#messages {
  color: lightgrey; }
  
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.korvalMenuu{
    position: absolute;
    left: 0px;
    width: 15%;
    text-align: center;
    
}

.projectModule{
    position: absolute;
    left: 25%;
    width: 55%;
    text-align: left;
}

.projectModuleContainer{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-accordion{
    width: 90%;
}

textarea{
    min-height: 300px;
    width: 90%;
}

.table1 {
    width: 100%;
}

.tableTd {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

table[class="table1"] tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table[class="table1"] tr:nth-child(even) {
  background-color: #ffffff;
}

.previewContainer{
    background:white;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%
}
