#messages {
  color: lightgrey; }
  
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.korvalMenuu{
    position: absolute;
    left: 0px;
    width: 15%;
    text-align: center;
    
}

.projectModule{
    position: absolute;
    left: 25%;
    width: 55%;
    text-align: left;
}

.projectModuleContainer{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-accordion{
    width: 90%;
}
textarea{
    min-height: 300px;
}

.previewContainer{
    background:white;
    float: left;
    border: 1px solid #ddd;
    border-radius: 4px;
}