.buttonNew {
    background-color: rgb(48,48,48);
    color:white;
    font-weight: bold;
}



.naideDiv{
    box-shadow: 10px 10px 5px #888888;
}

.paremale{
    position: absolute;
    right: 0px;
    width: 300px;
    
}


.keskel{
    position: absolute;
    left: 25%;
    width: 65%;
    text-align: left;

}
.suur{
    margin-bottom: 50px;
    font-weight: bold;
}