<div class="container-fluid">

    <h2>Upload json</h2>
    
    <div class="alert alert-danger" role="alert" collapse="isCollapsed">
        <strong>Error:</strong> {{errorMessage}}
    </div>
    
    <div class="col-md-6">
    
        <div class="form-group">
            <label for="jsonTitle">Title</label>
            <input type="text" name="jsonTitle" class="form-control" ng-model="title">
        </div>

         <div class="form-group">
             <label for="jsonPlain">Json content</label>
            <textarea name="jsonPlain" class="form-control" ng-model="content"></textarea>
        </div>
        <!--<div class="form-group">-->
        <!--    <label for="jsonFile">Json as file</label>-->
        <!--    <input type="file" name="jsonFile" nv-file-select="" uploader="uploader" />-->
        <!--</div>-->
        <button type="button" ng-click="updateJsonData()" ng-hide="selectedData==null || newJsonDataSelected()">
            <span class="glyphicon glyphicon-edit"></span> Update
        </button>
        <button type="button" ng-click="removeJsonData()" ng-hide="selectedData==null || newJsonDataSelected()">
            <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
        <button type="button" ng-click="downloadJsonData()" ng-hide="selectedData==null || newJsonDataSelected()">
            <span class="glyphicon glyphicon-download"></span> Download
        </button>
        <button type="button" ng-click="addJsonData()" ng-show="newJsonDataSelected()">
            <span class="glyphicon glyphicon-upload"></span> Save
        </button>
    
        <!--<table class="table">-->
        <!--<tr>-->
        <!--    <th>json</th>-->
        <!--    <th>action</th>-->
        <!--</tr>-->
        <!--<tr ng-repeat="data in jsonData">-->
        <!--    <td ng-click="show(data, true)">{{data.title}}-->
        <!--    </td>-->
        <!--    <td>-->
            <!--<button type="button" class"btn">-->
            <!--    <span class="glyphicon glyphicon-download"></span> Download-->
            <!--</button>-->
        <!--    <button type="button" class"btn" ng-click="updateJsonData(data, false)">-->
        <!--        <span class="glyphicon glyphicon-edit"></span> Edit-->
        <!--    </button>-->
        <!--    <button type="button" class"btn" ng-click="removeJsonData($index)">-->
        <!--        <span class="glyphicon glyphicon-remove"></span> Remove-->
        <!--    </button>-->
        <!--    </td>-->
        <!--</tr>    -->
            
        <!--</table>-->

    </div>
</div>
