<div>
 	
	<div>
	<p class="suur">Code example</p>

	<pre>

&lt;div class = btn-group"&gt;
    &lt;label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'"&gt;Left&lt;/label&gt;
    &lt;label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'"&gt;Middle&lt;/label&gt;
	&lt;label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'"&gt;Right&lt;/label&gt;
&lt;/div&gt;

	</pre>
	</div>

	<p class="suur"></p>

	<p class="suur">Preview	</p>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
    </div>

</div>