<div ng-app="main" ng-controller="DemoCtrl">


    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
  
    <table ng-table="tableParams" class="table table-striped">
        <tr ng-repeat="user in $data">
            <td data-title="'Name'" sortable="'name'">
                {{user.name}}
            </td>
            <td data-title="'Position'"  sortable="'position'">
                {{user.position}}
            </td>
            <td data-title="'Office'" sortable="'office'">
                {{user.office}}
            </td>
        
        </tr>
    </table>

</div>