


<div ng-controller="UigController">

  <accordion class="korvalMenuu" close-others="oneAtATime">

    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
    <div ng-repeat="item in group.items">
    <button class="btn btn-default btn-sm"ng-click="setUigComponent(item)" ui-sref='AngularProtoypeEngine.main.uig.components'> {{item.title}} </button>
    <p></p>
    </div>
    <button class="btn btn-sm buttonNew disabled"> New </button>
    </accordion-group>

 
  </accordion>

	
  <div ui-view class="keskel"></div>

</div>








