<div class="container-fluid">
    
    <div class="alert alert-danger" role="alert" collapse="isCollapsed">
        <strong>Error:</strong> {{errorMessage}}
    </div>
    
    <div class="col-md-6">
        <h1>{{selectedComponent.title}}</h1>
        <div class="form-group">
            <label for="componentTitle">Title</label>
            <input type="text" name="componentTitle" class="form-control" ng-model="title">
        </div>

         <div class="form-group">
             <label for="componentHtml">Component html</label>
            <textarea name="componentHtml" class="form-control" ng-model="HTMLcontent"></textarea>
        </div>

        <button type="button" class="btn" ng-click="addComponent()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-show="newComponentSelected()">
              <span class="glyphicon"></span> Save
        </button>

        <button type="button" class="btn" ng-click="updateComponent()" ng-hide="selectedComponent==null || newComponentSelected()">
            <span class="glyphicon"></span> Update
        </button>
        
        <button type="button" class="btn" ng-click="removeComponent()" ng-hide="selectedComponent==null || newComponentSelected()">
            <span class="glyphicon"></span> Remove
        </button>
        
        <div class="form-group" ng-hide="selectedComponent==null || newComponentSelected()">
            <label for="componentPreview">Preview</label></br>
            <div name="componentPreview" class="previewContainer" ng-controller="componentMasterController">
                <div preview="selectedComponent.HTMLcontent"></div>
            </div>
        </div>

    </div>
</div>
