<div class="container-fluid">
    
    <div class="alert alert-danger" role="alert" collapse="isCollapsed">
        <strong>Error:</strong> {{errorMessage}}
    </div>
    
    <div class="col-md-6">
        <h1>{{selectedComponent.title}}</h1>
        <div class="form-group">
            <label for="componentTitle">Title</label>
            <input type="text" name="componentTitle" class="form-control" ng-model="title">
        </div>

         <div class="form-group">
             <label for="componentHtml">Component html</label>
            <textarea name="componentHtml" class="form-control" ng-model="HTMLcontent"></textarea>
        </div><br>
        <h2>Component data</h2>
        <table class="table1">
            <tr>
                <td class="tableTd">JsonData</td>
                <td class="tableTd">Name</td>
            </tr>
            <tr ng-repeat = "data in selectedJsonData" >
                <td class="tableTd">{{getJsonTitle(data.jsonId)}}</td>
                <td class="tableTd">{{data.name}}</td>
            </tr>
        </table><br>
        <button type="button" class"btn" ng-click="getJsonDataModal()">
            <span class="glyphicon"></span> Edit data
        </button><br><br><br>
        <button type="button" class="btn" ng-click="addComponent()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" ng-show="newComponentSelected()">
              <span class="glyphicon"></span> Save
        </button>

        <button type="button" class="btn" ng-click="updateComponent()" ng-hide="selectedComponent==null || newComponentSelected()">
            <span class="glyphicon"></span> Update
        </button>
        
        <button type="button" class="btn" ng-click="removeComponent()" ng-hide="selectedComponent==null || newComponentSelected()">
            <span class="glyphicon"></span> Remove
        </button>
    </div>
</div>
